@import "../../global.scss";

.portofolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;

    @include mobile {
      margin-top: 5px;
      font-size: 20px;
    }
  }

  ul {
    margin: 20px;
    padding: 0px;
    list-style: none;
    display: flex;

    @include mobile {
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .containerp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;

    @include mobile {
      width: 100%;
    }

    .item {
      width: 220px;
      height: 150px;
      border-radius: 20px;
      border: 1px solid rgb(167, 171, 180);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      @include mobile {
        width: 130px;
        height: 100px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
      }
      a {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 1;
          overflow: hidden;
        }
      }

      &:hover {
        background-color: rgb(51, 67, 212);
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
